{% extends 'default/base.html' %}
{% load staticfiles %}
{% block title %}Login{% endblock %}

{% block body_block %}
			<link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
			<form class="form-signin" role="form" method="post" action=".">
					{% csrf_token %}
					<h1 class="form-signin-heading"><b>Login to Rango</b></h1>
					<h2 class="form-signin-heading"><b>
					Please sign in</b></h2>
					<input class="form-control" placeholder="Username" id="id_username" maxlength="254" name="username" type="text" required autofocus=""/>
					<input type="password" class="form-control" placeholder="Password" id="id_password" name="password" type="password" required />
					<div class="checkbox">
						<label>
							<input type="checkbox" value="remember-me"> Remember me
		 				</label>
					</div>
					<button class="btn btn-lg btn-primary btn-block" type="submit" value="Submit" />Sign in</button>
			</form>

{% endblock %}